body, html {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #D3D3D3;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}
    

.title {
    font-size: 100px;
    text-transform: uppercase;
}

.form {
    margin-top: 20px;
}


.header {
    background-color: #D3D3D3;
    color:black;
    font-size: 84px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 180px;

    
}

.result {
    margin-top: 100px; 
    font-size: 20px; 
}

.form select{
    color: rgb(0, 0, 0); 
    width: 12%; 
    padding: 10px; 
    font-size: 13px; 
    margin-bottom: 10px; 


}
.form input[type="text"]{
    color: rgb(0, 0, 0); 
    width: 12%; 
    padding: 10px; 
    font-size: 13px; 
    margin-bottom: 10px; 

}
.form input[type="submit"] {

    background-color: #3aa1e1; 
    color: white; 
    width: 12%; 
    padding: 10px; 
    font-size: 13px; 
    margin-bottom: 10px;
} 


@media screen and (max-width: 500px) {
    .header {
        font-size: 32px;
    }

    .title {
        font-size: 48px;
    }

    .table-users {
        border: none;
        box-shadow: none;
        overflow: visible;
    }
}
